# pixi environments
.pixi/*
!.pixi/config.toml

# ROS2 build artifacts
/build/
/install/
/log/

# Models
face_detection_yunet_2023mar.onnx
face_recognition_sface_2021dec.onnx

# Python artifacts
*.pyc
__pycache__/

# testing data
data/

# early development files
navigation/

.vscode/*