[submodule "firmware/stm32-generated"]
	path = firmware/stm32-generated
	url = https://github.com/GrangerWeasley/UGVC-Rover-stm32-generated.git
[submodule "firmware/stm32"]
	path = firmware/stm32
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
