<?xml version="1.0"?>
<robot name="rover">
  

  <material name="blue">
    <color rgba="0.2 0.4 0.8 0.5"/>  <!-- Bright blue -->
  </material>
  <material name="black">
    <color rgba="0.1 0.1 0.1 1.0"/>  <!-- Dark grey/black -->
  </material>
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>  <!-- Medium grey -->
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>  <!-- Bright red -->
  </material>
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>  <!-- Bright green -->
  </material>

  <!-- Base Link -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="1.24 0.84 1.029"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <!-- Camera Link -->
  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.025 0.103 0.027"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- LiDAR Link -->
  <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder radius="0.035" length="0.06"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <!-- camera ground link -->
  <link name="camera_ground_link">
    <visual>
      <geometry>
        <box size="0.025 0.103 0.027"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <!-- Fixed Joints -->
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.323 0 0.511"/>
  </joint>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.4219 0 0.095"/>
  </joint>

  <joint name="camera_ground_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_ground_link"/>
    <origin xyz="0.323 0 -0.511"/>
  </joint>

</robot>