# CMake build output
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# CubeIDE artifacts
.settings/
.cproject
.project
Debug/
Release/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db